<div class="contenedor-principal">
  <h1>Calculadora de Resistencias</h1>
 
  <div class="container text-center">
    <div class="row">
 
      <div class="col-lg-3 col-md-6">
        <h4>Primer Color</h4>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="0" [(ngModel)]="primera" ><input type="text" class="negro" value="0" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="1" [(ngModel)]="primera" ><input type="text" class="cafe" value="1" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="2" [(ngModel)]="primera" ><input type="text" class="rojo" value="2" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="3" [(ngModel)]="primera" ><input type="text" class="naranja" value="3" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="4" [(ngModel)]="primera" ><input type="text" class="amarillo" value="4" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="5" [(ngModel)]="primera" ><input type="text" class="verde" value="5" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="6" [(ngModel)]="primera" ><input type="text" class="azul" value="6" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="7" [(ngModel)]="primera" ><input type="text" class="morado" value="7" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="8" [(ngModel)]="primera" ><input type="text" class="gris" value="8" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="primera" [value]="9" [(ngModel)]="primera" ><input type="text" class="blanco" value="9" readonly></div>
      </div>
 
      <div class="col-lg-3 col-md-6">
        <h4>Segundo Color</h4>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="0" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 negro" value="0" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="1" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 cafe" value="1" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="2" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 rojo" value="2" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="3" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 naranja" value="3" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="4" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 amarillo" value="4" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="5" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 verde" value="5" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="6" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 azul" value="6" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="7" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 morado" value="7" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="8" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 gris" value="8" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="segunda" [value]="9" [(ngModel)]="segunda" ><input type="text" class="form-control form-control-sm ms-2 blanco" value="9" readonly></div>
      </div>
 
      <div class="col-lg-3 col-md-6">
        <h4>Multiplicador</h4>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="1" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 negro" value="1" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="10" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 cafe" value="10" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="100" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 rojo" value="100" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="1000" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 naranja" value="1000" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="10000" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 amarillo" value="10000" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="0.1" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 dorado" value="÷10" readonly></div>
        <div class="d-flex mb-2"><input  type="radio" name="multiplicador" [value]="0.01" [(ngModel)]="multiplicador" ><input type="text" class="form-control form-control-sm ms-2 plata" value="÷100" readonly></div>
      </div>
 
      <div class="col-lg-3 col-md-6">
        <h4>Tolerancia</h4>
        <div class="d-flex mb-2"><input class="form-check-input" type="radio" name="tolerancia" [value]="0.05" [(ngModel)]="tolerancia" ><input type="text" class="form-control form-control-sm ms-2 dorado" value="5%" readonly></div>
        <div class="d-flex mb-2"><input class="form-check-input" type="radio" name="tolerancia" [value]="0.10" [(ngModel)]="tolerancia" ><input type="text" class="form-control form-control-sm ms-2 plata" value="10%" readonly></div>
      </div>
    </div>
 
    <hr class="my-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Resultados</h2>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Color 1</th>
              <td [class]="color1Class">{{ color1 }}</td>
            </tr>
            <tr>
              <th>Color 2</th>
              <td [class]="color2Class">{{ color2 }}</td>
            </tr>
            <tr>
              <th>Multiplicador</th>
              <td [class]="colorMultClass">{{ colorMultiplicador }}</td>
            </tr>
            <tr>
              <th>Tolerancia</th>
              <td [class]="tolClass">{{ tol }}</td>
            </tr>
            <tr>
              <th>Valor Resistencia</th>
              <td>{{ ohms }}</td>
            </tr>
            <tr>
              <th>Valor Máximo</th>
              <td>{{ Max }}</td>
            </tr>
            <tr>
              <th>Valor Mínimo</th>
              <td>{{ Min }}</td>
            </tr>
          </tbody>
        </table>
       
        <button type="button" (click)="calcular()" class="btn btn-danger">Consultar</button>
      </div>
    </div>
  </div>
</div>